---
layout: default
prism: true
---

<div class="container max-w-4xl mt-6  px-4">
    <div class="pb-5 mb-5 border-b border-gray-100 dark:border-gray-800">
        <h1 class="font-bold text-5xl">{{title}}</h1>

        <p class="text-center">
            {% if tags %}
                {% for tag in tags %}
                    {% if tag != 'portfolio' %}
                        <span class="inline-flex items-center bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10 dark:bg-blue-900 dark:border-blue-800 dark:text-blue-200 dark:ring-blue-100/10">{{ tag }}</span>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </p>

    </div>
    <article class="prose my-4 mx-auto">
        {{ content | safe }}</article>

</div>