---
layout: portfolio
eleventyExcludeFromCollections: true
---

<!-- https://tailwindui.com/components/application-ui/elements/badges -->

<div class="w-full grid grid-cols-1 gap-6 my-8 lg:mx-0">
    {% set postslist = collections.portfolio %}
    {% for post in postslist | reverse %}
        <a href="{{ post.url | url }}" class="p-5 bg-white border rounded-xl border-gray-200 shadow-md hover:border-blue-600 dark:hover:border-blue-600 dark:bg-gray-900 dark:border-gray-800 dark:text-gray-200">
            <h3>{% if post.data.title %}
                        {{ post.data.title | addNbsp | safe }}
                    {% else %}
                        Untitled
                    {% endif %}</h3>
            {% if post.data.description %}
                <p class="text-lg text-gray-500 dark:text-gray-200 leading-snug mt-2">
                    {{ post.data.description | addNbsp | safe }}
                </p>
            {% endif %}
            {% if post.data.tags %}
                <div class="mt-4">
                    {% for tag in post.data.tags %}
                        {% if tag != layout %}
                            <span class="inline-flex items-center bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10 dark:bg-blue-900 dark:border-blue-800 dark:text-blue-200 dark:ring-blue-100/10">{{ tag }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </a>

    {% endfor %}
</div>