---
layout: portfolio
eleventyExcludeFromCollections: true
---

<!-- https://tailwindui.com/components/application-ui/elements/badges -->

<div class="w-full grid grid-cols-1 gap-4 my-8 lg:mx-0">
    {% set postslist = collections.portfolio %}
    {% for post in postslist | reverse %}
        <a href="{{ post.url | url }}" class="p-5 bg-white border rounded border-gray-200 shadow-sm hover:border-purple-400">
            <h3>{% if post.data.title %}
                        {{ post.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                →</h3>
            {% if post.data.description %}
                <p class="text-lg text-gray-500 mb-3">
                    {{ post.data.description }}
                </p>
            {% endif %}
            {% if post.data.tags %}
                {% for tag in post.data.tags %}
                    {% if tag != layout %}
                        <span class="inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10">{{ tag }}</span>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </a>

    {% endfor %}
</div>