@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

body {
  font-family: 'Lato', sans-serif;
}

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

.cursive {
  font-family: 'Fuzzy Bubbles', cursive;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

@layer base {


  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  li.nav__item {
    border-bottom: 3px solid transparent;
  }
  li.nav__item[aria-current="page"] {
    border-bottom: 3px solid rgb(99, 102, 241);
  }

}

