@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

body {
  font-family: 'Libre Franklin', sans-serif;
  @apply text-gray-800 dark:text-white;

  background-image: url("/static/img/diagonal-3.jpg");
  background-position: top;
  background-size: cover;
  background-attachment: fixed;

}
html.dark body {
  background-image: url("/static/img/dark-green.png");
}


#light-mode-icon {
  display: block;
}
#dark-mode-icon {
  display: none;
}
.dark #light-mode-icon {
  display: none;
}
.dark #dark-mode-icon {
  display: block;
}

.prose {
  max-width: unset;
}

.prose ul {
  line-height: 1.5;
}

.prose h1 {
  text-align: left;
}



h1 {
  @apply text-5xl tracking-tighter mb-3 text-center lg:text-6xl;
}

h2 {
  @apply text-4xl font-bold;
}

h3 {
  @apply text-2xl font-semibold;
}


.content-card {
  @apply bg-gray-50 dark:bg-gray-950 dark:bg-gray-950 dark:text-gray-200 dark:border-gray-800 p-8 md:p-12 rounded shadow;
}

.link-card {
  @apply bg-gray-50 hover:bg-white p-5 border rounded-xl border-gray-300 hover:border-white shadow-lg text-gray-900 hover:shadow-xl dark:bg-gray-950 dark:border-gray-800 dark:text-gray-200 dark:hover:bg-gray-900;
  transition: all .1s ease-in-out;
}

.link-card:hover {
  transform: scale(1.015);
  transition: all .1s ease-in-out;
}

.tag {
  @apply inline-flex items-center bg-blue-50 px-2 py-1 text-xs font-medium text-gray-700 ring-1 ring-inset ring-gray-700/10 dark:bg-gray-800 dark:border-gray-800 dark:text-gray-200 dark:ring-gray-100/10;
}

.btn {
  @apply inline-block rounded-full w-full sm:w-auto no-underline font-semibold px-5 py-2 bg-gray-50 hover:bg-white text-gray-900 dark:hover:bg-gray-100 border border-gray-200 hover:border-white

  dark:bg-gray-950 dark:border-gray-800 dark:text-gray-200 dark:hover:bg-gray-900
 shadow-md hover:shadow-lg;
  transition: all .1s ease-in-out;
}
.btn:hover {
  transform: scale(1.015);
  transition: all .1s ease-in-out;
}

.btn-outline {
  text-decoration: none;
  @apply inline-block rounded-full border border-gray-500 px-4 py-2 hover:bg-gray-800 hover:text-gray-100 hover:border-gray-800 dark:text-gray-200 dark:border-gray-100 dark:hover:border-gray-100 dark:hover:bg-gray-100 dark:hover:text-gray-800;
  font-weight: 500;
}



/*.blur-bg {
  transition: all .15s ease-in;
}

a.blur-bg:hover {
  box-shadow: 5px 5px 25px rgba(0,0,0,.3);
  
  transition: all .15s ease-in;
}*/


.resume h2 {
  @apply text-4xl font-bold;
}

.resume h3 {
  @apply text-2xl font-semibold mt-6;
}

.resume h4 {
  @apply text-lg font-semibold mt-2;
}

.prose h2 {
  @apply text-4xl font-bold mt-0 mb-4 dark:text-gray-200;
}

.prose h3 {
  @apply text-2xl font-semibold mt-10 mb-3 dark:text-gray-200;
}

.prose h4 {
  @apply text-lg font-semibold mt-8 mb-3 dark:text-gray-200;
}

.prose a {
  text-decoration: none;
  @apply inline-block rounded-full border border-gray-500 px-4 py-2 hover:bg-gray-800 hover:text-gray-100 hover:border-gray-800 dark:text-gray-200 dark:border-gray-100 dark:hover:border-gray-100 dark:hover:bg-gray-100 dark:hover:text-gray-800;
  font-weight: 500;
}

.prose strong {
  @apply dark:text-gray-200;
}

.cursive {
  font-family: 'Fuzzy Bubbles', cursive;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}


@layer base {

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  li.nav__item {
    @apply border-b-2 border-transparent;
  }
  li.nav__item:hover {
    @apply lg:border-gray-800 lg:dark:border-gray-200;
  }
  li.nav__item[aria-current="page"] {
    @apply border-gray-800 dark:border-gray-200;
  }

  p {
   line-height: 1.5;
  }

  ul.list-disc li {
    @apply ml-5;
  }

}

