<div class="w-full max-w-2xl grid grid-cols-1 lg:grid-cols-2 gap-4 mt-12 px-4 lg:mx-0">

    {% if quicklinks.links %}

        {% for item in quicklinks.links %}
            <a href="{{item.url}}" class="p-5 border bg-white rounded border-gray-200 shadow-sm relative hover:text-white hover:bg-gradient-to-br from-blue-600 via-purple-600 to-pink-700">
                
                <span class="absolute inset-0 w-full h-full"></span>
                <h3>{{item.title}}
                    →</h3>
                <p>{{item.desc}}</p>
            </a>
        {% endfor %}

    {% endif %}

</div>